{% extends "public/layout.njk" %}

{% block head %}
    <title>Foodfy - Chefs</title>
{% endblock %}

{% block content %}
    <main>
        <div class="container-admpanel">
            <div class="cards-adm-chefs">
                {% for chef in chefs %}
                    <a id="chef-link" href="/chefs/{{chef.id}}">
                        <div class="card-chef">
                            <img src="{{chef.photo}}">
                            <div class="chef-info">
                                <p class="chef-name">{{chef.name}}</p>
                                <p class="chef-recipes">{{chef.total_recipes}} receitas</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}