{% extends "public/layout.njk" %}

{% block head %}
    <title>Foodfy - Seja bem-vindo!</title>
{% endblock %}

{% block content %}
    <main>
        <div class="melhores-receitas">
            <div class="textos">
                <h1>As melhores receitas</h1>
                <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
            </div>
            <div class="chef">
                <img src="img/chef.png" alt="Chef">
            </div>
        </div>
        <div class="mais-acessadas">
            <h2>Mais acessadas</h2>
                <div class="cards">

                {% for recipe in recipes %}
                    <div class="card" id="{{recipe.id}}">
                        <img src="{{recipe.photo}}" alt="{{recipe.title}}">
                        <p class="nome-receita">{{recipe.title}}</p>
                        <p class="feito-por">por {{recipe.chef_name}}</p>
                    </div>
                {% endfor %}
                </div>

        </div>
    </main>
{% endblock %}