{% extends "public/layout.njk" %}

{% block head %}
    <title>Foodfy - Receitas</title>
{% endblock %}

{% block content %}
    <main>
        <div class="container-receitas"> 
            <div class="cards">
                {% for recipe in recipes %}
                    <div class="card" id="{{recipe.id}}">
                        <img src="{{recipe.photo}}" alt="{{recipe.title}}" class="cover">
                        <p class="nome-receita">{{recipe.title}}</p>
                        <p class="feito-por">por {{recipe.chef_name}}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}