{% extends "admin/layout-adm.njk" %}

{% block head %}
    <title>Foodfy - Painel de Controle</title>
{% endblock %}

{% block content %}

<main>
    <div class="container-admpanel">
        <div class="link-admpanel">
            <h2>Gerenciar chefs</h2>
            <a href="/admin/chefs/create">Cadastrar chef</a>
        </div>
        <div class="cards-adm-chefs">
            {% for chef in chefs %}
                <div class="card-chef">
                    <img src="{{chef.photo}}">
                    <div class="chef-info">
                        <p class="chef-name">{{chef.name}}</p>
                        <a href="/admin/chefs/{{chef.id}}/chefs-admpanel">Visualizar</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</main>

{% endblock %}