<div class="item">
    <div class="input-title">Nome</div>
    <div class="input-content">
        <input 
            type="text" 
            name="name"
            value="{{chef.name}}"
        >
    </div>
</div>

<div class="item">
    <div class="input-title">Avatar</div>
    <div class="input-content">
        <input 
            type="url" 
            name="avatar_url"
            placeholder="http://"
            value="{{chef.avatar_url}}"
        >
    </div>
</div>