{% extends "admin/layout-adm.njk" %}

{% block head %}
    <title>Foodfy - Perfil do Usuário</title>
{% endblock %}

{% block content %}
<main>
    <form action="/users/admin/profile?_method=PUT" class="card-form profile" method="POST">
        <div class="create-title">
            <h3>Atualizar Usuário</h3>
            <span></span>
            
            <form id="form-delete" action="/admin/recipes/{{recipe.id}}?_method=DELETE" method="post" >
                <button type="SUBMIT">Deletar</button>
                <input type="hidden" name="id" value="{{recipe.id}}">
            </form>

            <button type="submit">Salvar</button>
        </div>

        <div class="profile-items">
            <div class="item">
                <div class="input-title">Nome</div>
                <div class="input-content">
                    <input 
                        type="text" 
                        name="name"
                        value="{{user.name}}"
                    >
                </div>
            </div>

            <div class="item">
                <div class="input-title">E-mail</div>
                <div class="input-content">
                    <input 
                        type="text" 
                        name="email"
                        value="{{user.email}}"
                    >
                </div>
            </div>

            <div class="item">
                <div class="input-title">Senha</div>
                <div class="input-content">
                    <input 
                        type="password" 
                        name="password"
                    >
                </div>
                
            </div>

            <div class="item">
                <div class="input-title">Repetir senha (apenas para alteração de senha)</div>
                <div class="input-content">
                    <input 
                        type="password" 
                        name="password_confirmation"
                    >
                </div>
                
            </div>


        </div>
        
    <input type="hidden" name="id" value="{{user.id}}">
    </form>
</main>
{% endblock %}