{% extends "admin/layout-adm.njk" %}

{% block head %}
    <title>Foodfy - Perfil do Usuário</title>
{% endblock %}

{% block content %}
<main>
    <form id="form-delete" action="/users/admin/edit/{{user.id}}?_method=DELETE" method="post" >
                
        <input type="hidden" name="id" value="{{user.id}}">
    </form>
    <form action="/users/admin/edit/{{user.id}}?_method=PUT" class="card-form profile" method="POST">
        <div class="create-title update-user">
            <h3>Atualizar Usuário</h3>
            <span></span>
            <button form="form-delete" id="adm-delete-button" type="SUBMIT">Deletar</button>
            <button type="submit">Salvar</button>
        </div>

        <div class="profile-items">
            <div class="item">
                <div class="input-title">Nome</div>
                <div class="input-content">
                    <input 
                        type="text" 
                        name="name"
                        value="{{user.name}}"
                        onblur="Validate.apply(this, 'isEmpty')"
                    >
                </div>
            </div>

            <div class="item">
                <div class="input-title">E-mail</div>
                <div class="input-content">
                    <input 
                        type="text" 
                        name="email"
                        value="{{user.email}}"
                        onblur="Validate.apply(this, 'isEmail')"
                    >
                </div>
            </div>

            <div class="item checkbox">
                
                <input 
                    type="checkbox" 
                    name="isAdmin"
                    {% if user.is_admin %}
                        checked
                    {% endif %}
                >
                <label for="isAdmin">Administrador</label>
               
            </div>

        </div>
        
    <input type="hidden" name="id" value="{{user.id}}">
    </form>

    <script>
        const formDelete = document.querySelector("#form-delete")

        formDelete.addEventListener("submit", function (event) {
            const confirmation = confirm("Deseja realmente deletar?")

            if (!confirmation) {
                event.preventDefault()
            }
        })
    </script>
    
</main>
{% endblock %}