{% extends "admin/layout-adm.njk" %}

{% block head %}
    <title>Foodfy - Listagem de Usuários</title>
{% endblock %}

{% block content %}

<main>
    

    <div class="container-admpanel">
        <div class="link-admpanel">
            <h2>Usuários</h2>
            <a href="/users/admin/create">Novo</a>
        </div>
        <div class="cards-adm-users">
            {% for user in users %}
                <div class="card-user">
                    <div class="user-info">
                        <p class="user-name">{{user.name}}</p>
                        <p class="user-email">{{user.email}}</p>
                        <div class="user-links">
                            <a href="/users/admin/edit/{{user.id}}">Editar</a>
                            <form class="deleting-form" id="form-delete-{{user.id}}" action="/users/admin/edit/{{user.id}}?_method=DELETE" method="post" >
                                <button form="form-delete-{{user.id}}" id="remove-button" type="submit">Remover</button>
                                <input type="hidden" name="id" value="{{user.id}}">
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</main>

<script>
        
    const deleteLink = document.querySelectorAll(".deleting-form")

    for (var i = 0; i < deleteLink.length; i++) {
        deleteLink[i].addEventListener('submit', function(event) {
            const confirmation = confirm("Deseja realmente deletar?")

            if (!confirmation) {
                event.preventDefault()
            }
        });
    }   

</script>

{% endblock %}