<!DOCTYPE html>
<html>
    <head>
       {%block head %}{% endblock %}
        {% include 'public/parts/styles.njk' %}
        {% include 'admin/parts/styles.njk' %}
    </head>
    <body>
        {% include "admin/messages.njk" %}

        {% include "admin/parts/header.njk" %}

        {% block content %}{% endblock %}

        {% include "admin/parts/footer.njk" %}

    </body>
</html>