<!DOCTYPE html>
<html>
    <head>
       {%block head %}{% endblock %}
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/userStyle.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    </head>
    <body>
        {% include "admin/messages.njk" %}

        <header id="header-admin">
            <div class="container-admin">
                <div class="row">
                    <a href="/" class="logo"><img src="/img/logoWhite.png" alt="Foodfy"></a>
                    <div class="menu">
                        <a href="/admin/recipes">RECEITAS</a>
                        <a href="/admin/chefs">CHEFS</a>
                        <a href="/admin/users">USUÁRIOS</a>
                        <form action="/users/logout" method="POST">
                            <button>SAIR</button>
                        </form>
                    </div>
                </div>
            </div>
        </header>

        {% block content %}{% endblock %}
        <script src="/script.js"></script>

        <footer>
            <p>Todos os direitos reservados, receitas Foodfy.</p>
        </footer>
    </body>
</html>