@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;

    display: flex;
    flex-direction: column;
    height: 100vh;
}
header {
    margin-top: 30px;
    margin-bottom: 30px;
}
.container {
    width: 940px;
    margin: auto;
}

.container .row {
    height: 27px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;

}

.container .menu,
.container-admin .menu {
    padding-left: 92.4px;
}

.container .menu a {
    font-family: 'Roboto', sans-serif;
    color: #111111;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
}

.container .menu a.active {
    color: #111111;
    font-weight: bold;
}

.container .menu a:hover {
    color: #111111;
    font-weight: bold;
    transition: 300ms;
}

.container a {
    padding-left: 30px;
}

.container .logo {
    width: 90.6px;
    height: 26.9px;
    padding-left: 0px;
}

.search {
    margin-left: 156px;
    position: absolute;
    right: 0;
}

.search input {
    width: 246px;
    height: 35px;
    border: solid 1px #DDDDDD;
    border-radius: 4px;
    padding-left: 8px;
    outline: none;
    color: #999999;
    font-size: 14px
}

.search button {
    width: 91px;
    height: 37px;
    border-radius: 4px;
    background-color: #6558C3;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    padding: 9px 20px;
    margin-left: 6px;
}
.melhores-receitas {
    margin: auto;
    width: 940px;
    height: 366px;
    background-color: #FBDFDB;
    border-radius: 30px;
    position: relative;
}

.melhores-receitas .textos {
    width: 316px;
    float: left;
    margin-top: 117px;
    margin-left: 60px;
}

.melhores-receitas .textos h1 {
    font-weight: bold;
    font-size: 32px;
    color: #111111;
    line-height: 38px;
}

.melhores-receitas .textos p {
    font-size: 18px;
    line-height: 28px;
    opacity: 0.7;
    color: black;
}

.melhores-receitas .chef {
    float: right;
    margin-right: 100px;
}

.melhores-receitas .chef img {
    padding-top: 66px;
}

/*==== CARDS ====*/

.mais-acessadas {
    width: 940px;
    margin: auto;
    margin-top: 50px;
}
.mais-acessadas h2{
    width: 100%;
    margin: 0;
    text-align: left;
    padding-bottom: 20px;
}
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.card img {
    width: 300px;
    height: 140px;
    border-radius: 15px;
    object-fit: cover;
    
}

.card .nome-receita {
    font-size: 18px;
    line-height: 21px;
    color: #111111;
    margin: 0;
    padding-top: 20px;
}

.card .feito-por {
    margin: 0;
    padding-top: 5px;
    font-size: 14px;
    line-height: 16px;
    color: #777777;
}

.card {
    cursor: pointer;
}

footer {
    background-color: #eeeeee;
    margin-top: auto;
    width: 100%;
}

footer p {
    font-size: 14px;
    line-height: 16px;
    color: #999999;
    text-align: center;
    padding: 23px;
}

/*==== MODAL ====*/

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    visibility: hidden;
    opacity: 0;
}

.modal {
    width: 660px;
    height: 413px;
    background-color: white;
    border-radius: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -207px;
    margin-left: -330px;    
}

.modal-content {
    text-align: center;
}

.modal-content .nome-receita {
    font-size: 24px;
    line-height: 28px;
    color: #111111;
    margin-bottom: 5px;
}

.modal-content .feito-por {
    font-size: 18px;
    line-height: 21px;
    color: #777777;
    margin-bottom: 60px;
}

.modal-content a {
    font-size: 16px;
    color: #999999;
    cursor: pointer;
}

.modal-content a:hover {
    color: #e9bba6;
}

.modal-content img {
    width: 600px;
    height: 200px;
    border-radius: 15px;
    margin: 30px;
}
/*==== MODAL ACTIVE ====*/
.modal-overlay.active {
    visibility: visible;
    opacity: 1;
}

/*==== pagina sobre ====*/

.sobre {
    width: 940px;
    margin: auto;
    margin-bottom: 24px;
}

.sobre h1 {
    font-size: 24px;
    line-height: 28px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.sobre p {
    font-size: 18px;
    line-height: 28px;
    color: #444444;
}

.sobre h2 {
    font-size: 20px;
    color: #111111;
    margin-top: 30px;
    margin-bottom: 20px;
}

/*==== pagina receitas ====*/

.container-receitas {
    width: 940px;
    margin: auto;
}

/*=== pagina recipe ===*/

.recipe-container {
    width: 940px;
    margin: auto;
}

.recipe-container img {
    width: 940px;
    height: 280px;
    border-radius: 15px;
    object-fit: cover;
}

.recipe-container h1 {
    text-align: center;
    padding-top: 50px;
    font-size: 36px;
    color: #111111;
    line-height: 42px;
}

.recipe-author {
    margin-top: 4px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    color: #777777;
}

.recipe-container h2 {
    font-size: 24px;
    color: #111111;
    line-height: 28px;
    margin-bottom: 20px;
}
.ingredients, .preparation {
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    margin-top: 20px;
    margin-bottom: 39px;
}

.ingredients ul li, .preparation ul li {
    list-style-position: inside;
}

.information {
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    white-space: pre-wrap;
}

.recipe-container p:last-child {
    margin-bottom: 24px;
}



.showi, .hidei, .showp, .hidep, .showf, .hidef {
    font-size: 12px;
    line-height: 14px;
    color: #999999;
    text-decoration: none;
    visibility: visible;
    cursor: pointer;
}

.showi:hover, .hidei:hover, .showp:hover, .hidep:hover, .showf:hover, .hidef:hover {
    color: #e9bba6;
}

.showi.active, .showp.active, .showf.active {
    visibility: hidden;
    opacity: 0;
    display: none;
}

.hidei.active, .hidep.active, .hidef.active {
    visibility: hidden;
    opacity: 0;
    display: none;
}

.ingredients.active, .preparation.active, .information.active {
    visibility: hidden;
    display: none;
}

/* ADMIN */
/* CREATE */
.container-admin {
    width: 100%;
    background-color: black;
    padding: 27px 0px;
}

.container-admin .row {
    width: 940px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.container-admin .menu a {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #999999;
    font-size: 15px;
    line-height: 19px;
    text-decoration: none;
}

.container-admin .menu a.active {
    color: #FFFFFF;
}

.container-admin .menu a:last-child{
    margin-left: 30px;
}

.container-admin .menu a:hover {
    color: #FFFFFF;
    transition: 300ms;
}

#header-admin {
    margin-top: 0;
}

/* CREATE FORM */
.card-form {
    width: 940px;
    margin: auto;
}

.create-title {
    width: 940px;
    margin: 55px auto;
    display: grid;
    grid-template-columns: 1fr 102px 139px;
    margin-bottom: 20px;
}

.create-title h3 {
    font-size: 24px;
}

#form-delete button,
#delete-button {
    width: 92px;
    margin-right: 10px;
    background-color: #DC4747;
}

.create-title button {
    font-family: 'Roboto', sans-serif;
    background-color: #6558C3;
    color: white;
    font-size: 16px;
    padding: 9px;
    border-radius: 4px;
    cursor: pointer;
}

.card-form .item,
.card-form .item-photos {
    padding-bottom: 30px;
}

.card-form .item .input-title,
.card-form .item-photos .input-title {
    padding-bottom: 10px;
    font-size: 16px;
    color: #111111;
    font-weight: bold;
}

.card-form .item .input-content input, select {
    width: 100%;
    height: 50px;
    outline: none;
    color: #555;
    font-size: 18px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    height: 50px;
    padding: 0 5px;
    box-sizing: border-box;
}

.add-ingredient,
.add-step {
    margin-top: 15px;
    font-size: 16px;
    color: #6558C3;
    font-weight: bold;
    cursor: pointer;
}

#ingredients,
#steps {
    padding-bottom: 10px;
    /* font-size: 16px;
    color: #111111;
    font-weight: bold; */
}

.ingredient input,
.step input {
    width: 97%;
    height: 50px;
    outline: none;
    color: #555;
    font-size: 18px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    height: 50px;
    padding: 0 5px;
    box-sizing: border-box;
    margin-top: 10px;
}

#ingredients .ingredient:first-child input,
#steps .step:first-child input {
    margin-top: 0;
}

/* recipe-adm */
.edit-panel {
    width: 940px;
    margin: auto;
    margin-bottom: 24px;
    padding-top: 25px;
    display: grid;
    grid-template-columns: 1fr 136px;
}

.edit-panel a {
    font-family: 'Roboto', sans-serif;
    background-color: #6558C3;
    color: white;
    font-size: 16px;
    padding: 9px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
}

/* ADM-PANEL */
.container-admpanel {
    width: 940px;
    margin: auto;
}



.cards-adm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 0px
}
.card-adm img {
    width: 172px;
    height: 80px;
    border-radius: 8.57px;
    object-fit: cover;
    float: left;
    
}

.cards-adm .cards-panel-texts {
    width: 250px;
    float: left;
}
.card-adm .cards-panel-texts .nome-receita {
    width: 250px;
    font-size: 18px;
    line-height: 21px;
    color: #111111;
    margin: 0;
    padding-left: 20px;
}

.card-adm .cards-panel-texts .feito-por {
    padding-top: 5px;
    padding-left: 20px;
    font-size: 14px;
    line-height: 16px;
    color: #777777;
    margin-bottom: 10px;
}

.card-adm .cards-panel-texts a {
    text-decoration: none;
    color: #6558C3;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    padding-left: 20px;
}

.link-admpanel {
    width: 940px;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 136px;
    padding-top: 20px;
    margin-bottom: 30px;
}

.container-admpanel .link-admpanel h2 {
    font-size: 24px;
    line-height: 28px;
}

.container-admpanel .link-admpanel a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color: #6558C3;
    color: white;
    font-size: 16px;
    padding: 9px;
    border-radius: 4px;
    text-align: center;
}

/*CHEFS ADM PANEL*/

.cards-adm-chefs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    grid-row-gap: 30px;
}

.card-chef {
    display: grid;
    grid-template-columns: 64px 1fr;
    align-items: center;
}

.card-chef img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.card-chef .chef-name {
    font-size: 18px;
    line-height: 21px;
}

.chef-info {
    margin-left: 20px;
}

.chef-info p {
    color: #111111;
    margin-bottom: 10px;
}

.chef-info a {
    text-decoration: none;
    color: #6558C3;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
}

/* CHEF-ADMPANEL */

.chef-infos {
    width: 940px;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}

.chef-infos img {
    max-width: 200px;
    border-radius: 50%;
}

.chef-infos .chef-name{
    font-size: 36px;
    font-weight: bold;
    color: #111111;
    line-height: 42px;
    margin-top: 30px;
}

.chef-infos .chef-total_recipes {
    font-size: 20px;
    color: #777777;
    line-height: 24px;
}

.chef-recipes-container h2 {
    margin-bottom: 30px;
}

.chef-info .chef-recipes {
    font-size: 14px;
    color: #666666;
    line-height: 16px;
}

#chef-link {
    text-decoration: none;
}




/* SEARCH PAGE */

.search-header {
    width: 940px;
    margin: auto;
    margin-bottom: 20px;
}

.search-header h2 {
    font-size: 24px;
    color: #111111;
}

/* PHOTOS - CREATE PAGE */
.create-photos-container {
    width: 940px;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-gap: 10px;
}

.input-photos-container {
    position: relative;
}

.input-photos-container #input-photos {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: 0;

    cursor: pointer;
}

.add-photos-button {
    width: 148px;
    height: 148px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #DDDDDD;
    border-radius: 3.5px;
    z-index: 100;
}

#add-symbol {
    font-size: 56px;
    color: #999999;
}

.preview-photos-container {
    width: 100%;
    max-height: 150px;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 7.5px;
}


#photo-preview .photo img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

#photo-preview .photo {
    position: relative;
}

#photo-preview .photo i {
    position: absolute;
    top: 0;
    left: 0;

    background: rgba(255,255,255,0.8);

    color: red;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 500%;
    cursor: pointer;

    transition: opacity 200ms;

    opacity: 0;
}

#photo-preview .photo:hover i {
    opacity: 1;
}

/* SHOW PREVIEW-PHOTOS */

.recipe-container .photos-preview {
    text-align: right;
}

.recipe-container .photos-preview img {
    width: 50px;
    height: 50px;

    opacity: 0.6;
    cursor: pointer;

    transition: 200ms;
}

.recipe-container .photos-preview img:hover,
.recipe-container .photos-preview img.active {
    opacity: 1;
}

/* CHEFS AVATAR INPUT */
.input-content.avatar_image {
    position: relative;
    display: block;

    overflow: hidden;

    width: 140px;
    height: 36px;
    
}

.input-content.avatar_image.active {
    position: absolute;
    top: -100%;
    opacity: 0;
}

.input-content.avatar_image input {
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.input-content.avatar_image p {
    background-color: #6558C3;
    box-shadow: 0 2px 2px -6px #333;
    color: white;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 4px;
    text-align: center;

    cursor: pointer;

}

.avatar-preview {
    margin-bottom: 16px;
}

.avatar-preview img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.photo-avatar {
    position: relative;
    width: 150px;
}

.photo-avatar i {
    position: absolute;
    top: 0;
    left: 0;

    background: rgba(255,255,255,0.8);

    color: red;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 500%;
    cursor: pointer;

    transition: opacity 200ms;

    opacity: 0;
}

.photo-avatar i:hover {
    opacity: 1;

}

#avatar {
    opacity: 0;
    position: absolute;
    top: -100%;
}

#avatar.active {
    opacity: 1;
    position: relative;
}

/* LOGIN PAGES */
.logo-admin,
.login-title {
    width: 500px;
    margin: 0 auto;
}
.logo-admin img {
    display: block;
    margin: 0 auto;
}

.card-form.login {
    width: 500px;
    margin-top: 100px;
}

.login-title h3 {
    text-align: center;
    margin-bottom: 35px;
    font-size: 24px;
    line-height: 29px;
    color: #111111
}

.login-footer {
    display: grid;
    grid-template-columns: 1fr 135px;
    align-items: center;
}

.login-footer button {
    border-radius: 4px;
    background: #6558C3;
    padding: 9px 35px;
    font-size: 16px;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
}

.login-footer a {
    font-size: 16px;
    line-height: 19px;
    color: #969696;
    font-weight: bold;
    text-decoration: none;
}

.login-footer a:hover {
    color: #6558C3;
    
}

/* PROFILE */
.profile-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px 40px;
}

