{% extends "admin/recipes/layout-adm.njk" %}

{% block head %}
    <title>Foodfy - Editar receita</title>
{% endblock %}

{% block content %}
<main>

    <div class="create-title">
        <h3>Editando receita</h3>

        <form id="form-delete" action="/admin/recipes/{{recipe.id}}?_method=DELETE" method="post">
            <button type="SUBMIT">Deletar</button>
        </form>

        <button form="putForm" type="submit">Salvar receita</button>

    </div>

    <form id="putForm" action="/admin/recipes/{{recipe.id}}?_method=PUT" class="card-form" method="POST">
        
        {% include 'admin/recipes/fields.njk' %}

    </form>
    
</main>
{% endblock %}