<header id="header-admin">
    <div class="container-admin">
        <div class="row">
            <a href="/" class="logo"><img src="/img/logoWhite.png" alt="Foodfy"></a>
            <div class="menu">
                <a href="/admin/recipes">RECEITAS</a>
                {% if (user.is_admin) or (isAdmin) %}
                    <a href="/admin/chefs">CHEFS</a>
                    <a href="/users/admin/list">USUÁRIOS</a>
                {% endif %}
                <form action="/users/logout" method="POST">
                    <a href="/users/admin/profile">MEU PERFIL</a>
                    <button>SAIR</button>
                </form>
            </div>
        </div>
    </div>
</header>