{% extends "admin/layout-adm.njk" %}

{% block head %}
    <title>Foodfy - Criar receita</title>
{% endblock %}

{% block content %}
<main>
    <form action="/admin/recipes" class="card-form" method="POST" enctype="multipart/form-data">
        <div class="create-title">
            <h3>Criando receita</h3>
            <span></span>
            <button type="submit">Salvar receita</button>
        </div>

        {% include 'admin/parts/recipe-fields.njk' %}

    </form>
</main>
{% endblock %}