<div class="item-photos">
    <div class="input-title">Imagem da receita</div>
    <div class="create-photos-container">
        <div class="input-photos-container">
            <input 
                id="input-photos"
                type="file"
                name="photos" 
                multiple
                accept="image/*"
                onchange="PhotosUpload.handleFileInput(event)"
            >
            <div class="add-photos-button">
                <i id="add-symbol" class="material-icons">add</i>
            </div>
        </div>
        <div id="photo-preview" class="preview-photos-container">
            {% if files %}
                {% for image in files %}
                    <div class="photo" id="{{image.file_id}}">
                        <img src="{{image.path}}" alt="{{recipe.name}}">
                        <i class="material-icons"
                            onclick="PhotosUpload.removeOldPhoto(event)"
                        >close</i>
                    </div>
                {% endfor %}
                <input type="hidden" name="removed_files">
            {% endif %}
        </div>
    </div>
</div>

<div class="item">
    <div class="input-title">Nome da receita</div>
    <div class="input-content">
        <input 
            type="text" 
            name="title"
            value="{{recipe.title}}"
            onblur="Validate.apply(this, 'isEmpty')"
        >
    </div>
</div>

<div class="item">
    <div class="input-title">Autor da receita</div>
        <select name="chef_id" >
            {% for chef in chefOption %}
            <option value="{{chef.id}}" {% if recipe.chef_id == chef.id %}selected{%endif%}>
                {{chef.name}}
            </option>
            {% endfor %}
        </select>
</div>

<div class="item">
    <div class="input-title">Ingredientes</div>
        <div id="ingredients">

            {% if recipe.ingredients %}

                {% for ingredient in recipe.ingredients %}
                    <div class="ingredient">
                        <input 
                            type="text" 
                            name="ingredients[]"
                            value="{{ingredient}}"
                            onblur="Validate.apply(this, 'isEmpty')"

                        >
                        <a id="idi{{recipe.ingredients.indexOf(ingredient)}}" onClick="removeDiv1(id)"><span id="remove-step" class="material-icons">highlight_off</span></a>
                    </div>
                {% endfor %}

            {% else %}
                <div class="ingredient">
                        <input 
                            type="text" 
                            name="ingredients[]"
                            value=""
                            onblur="Validate.apply(this, 'isEmpty')"

                        >
                        <a id="idi0" onClick="removeDiv1(id)"><span id="remove-step" class="material-icons">highlight_off</span></a>
                </div>
            {% endif %}

        </div>
    <button type="button" onClick="addIngredient()" class="add-ingredient">Adicionar novo ingrediente</button>
    {% include 'admin/recipes/script4.njk' %}
</div>

<div class="item">
    <div class="input-title">Modo de preparo</div>
        <div id="steps">

            {% if recipe.preparation %}

                {% for direction in recipe.preparation %}
                    <div class="step">
                        <input 
                            type="text" 
                            name="preparation[]"
                            value="{{direction}}"
                            onblur="Validate.apply(this, 'isEmpty')"
                        >
                        <a id="id{{recipe.preparation.indexOf(direction)}}" onClick="removeDiv(id)"><span class="material-icons">highlight_off</span></a>
                    </div>
                {% endfor %}

            {% else %}
                <div class="step">
                        <input 
                            type="text" 
                            name="preparation[]"
                            value=""
                            onblur="Validate.apply(this, 'isEmpty')"
                        >
                        <a id="id0" onClick="removeDiv(id)"><span class="material-icons">highlight_off</span></a>
                </div>
            {% endif %}
        </div>
    <button type="button" onClick="addStep()" class="add-step">Adicionar novo passo</button>
    
    {% include 'admin/recipes/script5.njk' %}
</div>

<div class="item">
    <div class="input-title">Informações adicionais</div>
    <div class="input-content">
        <input 
            type="text" 
            name="information"
            value="{{recipe.information}}"
        >
    </div>
</div>

