{% extends "layout.njk" %}

{% block head %}
    <title>Foodfy - {{recipe.title}}</title>
{% endblock %}

{% block content %}
<div class="recipe-container">
    <div class="photos-container">
        <div class="highlight">
            {% if not files %}
                <img src="http://placehold.it/500x500?text=PRODUTO SEM FOTO" />
            {% else %}
                <img 
                    src="{{files[0]}}" 
                    alt="{{recipe.name}}"
                >
            {% endif %}
        </div>
        <div class="photos-preview">
            {% for image in files %}
                <img 
                    src="{{image}}" 
                    alt="{{recipe.name}}"
                    {% if loop.index0 == 0 %}
                    class="active"
                    {% endif %}
                    onclick="ImageGallery.setImage(event)" 
                >
            {% endfor %}
        </div>
    </div>
    <h1>{{recipe.title}}</h1>
    <p class="recipe-author">por {{recipe.chef_name}}</p>
    <h2>Ingredientes <a class="showi active">MOSTRAR</a> <a class="hidei">ESCONDER</a></h2>
    <div class="ingredients">
        <ul>
            {% for ingredient in recipe.ingredients %}
            <li>{{ingredient}}</li>
            {% endfor %}
        </ul>
    </div>
    <h2>Modo de preparo <a class="showp active">MOSTRAR</a> <a class="hidep">ESCONDER</a></h2>
    <div class="preparation">
        <ul>
            {% for direction in recipe.preparation %}
            <li>{{direction}}</li>
            {% endfor %}
        </ul>
    </div>
    <h2>Informações Adicionais <a class="showf active">MOSTRAR</a> <a class="hidef">ESCONDER</a></h2>
    <p class="information">{{recipe.information}}</p>
</div>

<script src="/script2.js"></script>
{% endblock %}