<header>
    <div class="container">
        <div class="row">
            <a href="/" class="logo"><img src="/img/logo.png" alt="Foodfy"></a>
            <div class="menu">
                <a href="/about">Sobre</a>
                <a href="/recipes">Receitas</a>
                <a href="/chefs">Chefs</a>
                <a class='my-account' href='/users/login'>
                    <i class="material-icons">login</i>
                    {% if (session.userId) %}
                    Minha conta
                    {% else %}
                    Entrar
                    {% endif %}
                </a>
            </div>
            <div class="search">
                    <form action="/search" method="GET">
                        <input 
                            type="text"
                            name="search"
                            placeholder="Pesquisar receitas"
                        >
                        <button type="submit">Buscar</button>
                    </form>
                </div>
        </div>
    </div>
</header>